.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
h2 {
  margin: 0px;
}
.search {
  min-width: 25%;
}
h2 {
  color: var(--primary-pink);
}
.logo {
  margin: 0px;
}
a {
  text-decoration: none;
}
.cart {
  font-size: 26px;
  color: #4b5563;
}
small {
  color: #4b5563;
}
.cartLength {
  position: absolute;
  background: var(--primary-pink);
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 8px;
  bottom: 18px;
  left: 16px;
}
.cartCont {
  position: relative;
}
